  <div class="card-white deliverable-card" data-controller="edit-deliverable" data-edit-deliverable-target="details">
  <% if local_assigns[:has_link] %>
    <%= link_to deliverable_path(deliverable) do %>
      <div class="card-deliverable-date">
        <div><%= deliverable.due_date.strftime("%b") %></div>
        <div><%= deliverable.due_date.strftime("%e") %></div>
      </div>
      <div class="card-deliverable-details">
        <div class="deliverable-card">
          <div class="card-deliverable-content card-long">
            <div class="card-custom-subtitle"><%= deliverable.deliverable_type %></div>
            <div>
              <%= deliverable.description %>
              <% deliverable.tag_list.each do |tag|%>
                <span class="badge badge-primary custom-badge"><%= tag %></span>
              <% end %>
            </div>
          </div>
          <div class="format-link">
            <% if local_assigns[:edit_btn] %>
              <a data-href="/deliverables/<%= deliverable.id %>/edit" data-action="click->insert-deliverables#edit" data-insert-deliverables-target="link" class="btn btn-primary">Edit</a>
            <% end %>
          </div>
        </div>
      </div>

    <% end %>

  <% else %>
    <div class="card-deliverable-date">
      <div><%= deliverable.due_date.strftime("%b") %></div>
      <div><%= deliverable.due_date.strftime("%e") %></div>
    </div>
    <div class="card-deliverable-details">
        <div>
          <div class="deliverable-card">
            <div class="card-deliverable-content card-long">
              <div class="card-custom-subtitle"><%= deliverable.deliverable_type %></div>
              <div>
                <%= deliverable.description %>
                <% deliverable.tag_list.each do |tag|%>
                  <span class="badge badge-primary custom-badge"><%= tag %></span>
                <% end %>
              </div>
            </div>

            <div class="format-link">
              <%= link_to "See Drafts", "/deliverables/#{deliverable.id}" %>
              <% if deliverable.project.status=="saved" %>
                <a class="btn btn-primary" data-action="click->edit-deliverable#delete" data-edit-deliverable-target="delete" value="<%=deliverable_path(deliverable)%>">Delete</a>
                <a class="btn btn-primary" data-action="click->edit-deliverable#edit" data-edit-deliverable-target="edit" value="<%=deliverable_path(deliverable)%>">Edit</a>
                <div class="slideOutTab d-none" data-edit-deliverable-target="tab">
                  <%= render partial: 'deliverables/update', locals: {deliverable: deliverable}%>
                </div>
              <% end %>
            </div>
          </div>
        </div>
    </div>
  </div>

<% end %>

</div>
