<div class="container d-flex card-white">
  <div class="w-25">
    <%= deliverable.due_date.strftime("%e %b") %>
  </div>
  <div class="w-75">
    <a data-href="/deliverables/<%= deliverable.id %>/edit" data-insert-deliverables-target="link">
      <div>
        <div class="d-flex justify-content-between">
          <div>
            <h5 class="card-title" data-insert-deliverables-target="deliverableType"><%= deliverable.deliverable_type %></h5>
            <p class="card-text" data-insert-deliverables-target="deliverableDescription"><%= deliverable.description %></p>
            <p>Tags: <% deliverable.tag_list.each do |tag|%>
              <span class="badge badge-primary"><%= tag %></span>
            <% end %></p>
          </div>
          <%= link_to  "Delete", deliverable_path(deliverable), method: :delete %>
        </div>
      </div>
    </a>
  </div>
</div>
