  <div class="container card-white deliverable-card">
    <div class="card-deliverable-date">
      <div><%= deliverable.due_date.strftime("%b") %></div>
      <div><%= deliverable.due_date.strftime("%e") %></div>
    </div>
    <div class="card-deliverable-details">
      <a data-href="/deliverables/<%= deliverable.id %>/edit" data-insert-deliverables-target="link">
        <div>
          <div class="deliverable-card">
            <div class="card-deliverable-content card-long">
              <div class="card-custom-subtitle"><%= deliverable.deliverable_type %></div>
              <div>
                <%= deliverable.description %>
                <% deliverable.tag_list.each do |tag|%>
                  <span class="badge badge-primary custom-badge"><%= tag %></span>
                <% end %>
              </div>
            </div>
            <div class="format-link">
              <%= link_to "See Drafts", "/deliverables/#{deliverable.id}" %>
              <%= link_to  "Delete", deliverable_path(deliverable), method: :delete %>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
