<%= simple_form_for [@project, @deliverable], data: {insert_deliverables_target: "form"} do |f| %>
  <div>
    <%= f.input :deliverable_type, name: "deliverable_type",
      input_html: {
        data: {
          insert_deliverables_target: "deliverable_type"
          }}%>
    <div class="form-group">
        <label for="due_date">Due date:</label>
        <input type="date" id="due_date" name="due_date" class="form-control" value="<%=Date.today%>" min="<%=Date.today%>" max="<%=Date.today.next_year%>" data-insert-deliverables-target="due_date">
      </div>
    <%= f.input :description, name: "description",
      input_html: {
        data: {
          insert_deliverables_target: "description"
          }}%>
    <%= f.input :tag_list, placeholder: "Tags (separate by commas)" %>
    <%= f.submit "Add", data:{ action: "click->insert-deliverables#createDeliverable"}, class: "submit-form-btn btn-long" %>
  </div>
<% end %>
