<div class="container p-4">
  <%# heading %>
  <div class="d-flex justify-content-between align-items-center">
    <div>
      <h1><%=@project.brand%>: <%= @project.name %></h1>
      <h2><%= @project.description %></h2>
    </div>
    <div>
      <h2><%= @project.project_end.strftime("%e %b")%></h2>
    </div>
  </div>
  <%# deliverable panel %>
  <div class="card-frosted d-flex">
    <div class="col-3">
      <% @project.deliverables.each do |deliv| %>
        <div class="d-flex card-white my-2 deliv-card">
          <div class="mr-2 date">
            <%= deliv.due_date.strftime("%b") %>
            <h5><%= deliv.due_date.strftime("%e") %></h5>
          </div>
          <div class="flex-shrink-1">
            <%= deliv.deliverable_type %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-9">

    </div>
  </div>
</div>
