<nav aria-label="breadcrumb">
  <ol class="breadcrumb breadcrumb-custom">
    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
    <li class="breadcrumb-item"><a href="/projects/<%= @project.id %>"><%= @deliverable.project.name %></a></li>
    <li class="breadcrumb-item active" aria-current="page">Deliverables</li>
  </ol>
</nav>
<%# heading %>
<div class="card-white p-3 mb-4">
  <div class="d-flex align-items-center">
    <div class="review-card-title header-lg"><%= @client.name %>: <%= @project.name %></div>
    <div class="review-card-date"><%= @project.project_end.strftime("%e %b")%></div>
  </div>
  <div class='pr-4 header-lg'>
    <div class="review-card-description header-md"><%= @project.description %></div>
  </div>
</div>

  <%# deliverable panel %>
<div class="card-frosted d-flex w-100 p-3">
  <div class="col-3">
    <%= render partial: "deliverables/cards/project_details", collection: @deliverables, as: :deliverable %>
  </div>
  <div class="col-9 card-white py-3 px-3">
    <div class="d-flex justify-content-between align-items-center">
      <div class="w-60 col-9">
          <div class="deliverable-title header-lg">
              <%= render 'deliverables/icon', deliverable: @deliverable%> <%= @deliverable.deliverable_type %>
          </div>
          <%= render 'deliverables/tag', deliverable: @deliverable %>
          <div class="pt-2">
            <%= @deliverable.description %>
          </div>
        </div>
      <% due_days = (@deliverable.due_date - Date.today).to_i  %>
      <div class="col-3 deliverable-due-date">
        <span class="<%if due_days<0%> overdue <%end%>">
          <% if due_days == 0 %>
            Due today
          <% elsif due_days < 0 %>
            Overdue by <%= pluralize due_days.abs, "day" %>
          <% else %>
            Due in <%= pluralize due_days, "day"%>
          <% end %>
        </span>
        <a href="/projects/<%= @deliverable.project.id %>/edit">Edit</a>
      </div>
    </div>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary btn-block submit-draft my-4" data-toggle="modal" data-target="#newDraftModal">
      Submit New Draft
    </button>
    <% if @drafts.length.zero? %>
      <p>No drafts yet</p>
    <% else %>
      <%= render @drafts %>
    <% end %>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="newDraftModal" tabindex="-1" aria-labelledby="newDraftModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newDraftModalLabel">Upload your draft here</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <%= form_for [@deliverable,@new_draft], html: { multipart: true } do |f| %>
          <div class="attachment">
            <%= f.label :attachment, "Upload your file(s) here" %>
            <%= f.file_field :attachments, multiple: true, class: "custom-file-upload" %>
          </div>
          <div class="draft-text-area d-flex flex-column justify-content-center align-items-center">
            <%= f.text_area :description, placeholder: "Add your draft description here", class: "p-2" %>
            <%= f.submit "Submit Draft", class: "btn btn-sync-primary" %>
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sync-dark-grey" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
