<%# heading %>
<div class="d-flex project-head justify-content-between align-items-center">
  <div>
    <h1><%=@project.brand%>: <%= @project.name %></h1>
    <h2><%= @project.description %></h2>
  </div>
  <div>
    <h2><%= @project.project_end.strftime("%e %b")%></h2>
  </div>
</div>
<%# deliverable panel %>
<div class="card-frosted d-flex deliverable-panel">
  <div class="deliverable-list">
    <%= render partial: "deliverables/cards/draft_details", collection: @deliverables, as: :deliverable %>
  </div>
  <div class="card-white deliverable-draft">
    <div class="d-flex justify-content-between align-items-start">
      <div class>
        <h1><%= @deliverable.deliverable_type %></h1>
        <p><%= @deliverable.description %></p>
      </div>
      <div class="text-right">
        <p>Due in <%= pluralize (@deliverable.due_date - Date.today).to_i,"day"%></p>
        <a href="/projects/<%= @deliverable.project.id %>/edit" class="text-decoration-none">Edit</a>
      </div>
    </div>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary btn-block submit-draft my-4" data-toggle="modal" data-target="#exampleModal">
      Submit New Draft
    </button>
    <%= render @drafts %>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Upload your draft here</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <%= form_for [@deliverable,@new_draft], html: { multipart: true } do |f| %>
          <div class="attachment">
            <%= f.label :attachment, "Upload your draft here" %>
            <%= f.file_field :attachment%>
          </div>

          <%= f.text_field :description, placeholder: "add a message here" %>
          <%= f.submit "Submit Draft", class: "" %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
