
<%# wrap in controller %>
<div class="comment-card card-white" data-controller="insert-comments">
  <div class="card-body">
    <small><em class="text-muted"><%= distance_of_time_in_words_to_now(comment.created_at) %> ago - <%= comment.user.first_name %></em></small><br>
    <p class="card-title"><%= comment.content %></p>
    <%# if the comment has any replies, you iterate it %>
    <ul data-insert-comments-target="replies">
      <% unless comment.replies.nil?  %>
          <%= render partial: "comments/comment", collection: comment.replies, as: :comment %>
      <% end %>
    </ul>
    <%# create a form, but hidden %>
    <% if comment.parent_id.nil? %>
      <%= simple_form_for Comment.new, method: :post, url: draft_comments_path(@draft), data: {insert_comments_target: "form", action: "insert-comments#createReply"}, html: {class: "d-none"} do |f| %>
        <%= f.input :content, name: "content",
          input_html: {
            data: {
              insert_comments_target: "content"
              }}%>
        <%= f.hidden_field :parent_id, value: comment.id %>
        <%= f.submit "reply", data: {insert_comments_target: "submit"} %>
      <% end %>
    <% end %>
  <% if comment.parent_id.nil? %>
    <a class="btn btn-primary" data-insert-comments-target="newReply"
    data-action="click->insert-comments#newReply">reply</a>
  <%end%>
  </div>
</div>
