<div class="card h-100 px-3 py-2 card-white">
  <a href="/" class="logo">Sync</a>
  <a href="<%=new_project_path%>" class="submit-form-btn btn-bold btn-linkless">+ New project</a>
  <div class="custom-profile">
      <% if current_user.profile_pic.nil? %>
        <span class="imageless-avatar avatar"><%= current_user.username.first.upcase %> </span>
      <% else %>
        <%= image_tag current_user.profile_pic, class:"avatar"%>
      <% end %>
        <strong><%= current_user.username %></strong>
  </div>
  <% if user_signed_in? %>
    <div class="notification-panel section">
      <h4>
        Notifications <i class="far fa-bell mx-2 notification-icon"></i>
      </h4>
      <div id="notification-list">
        <p>Checking for notifications...</p>
      </div>
    </div>
    <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: 'btn logout-button' %>
  <% end %>
</div>
