<div class="h-100 py-4" data-controller="filter">
  <div class="border p-2 mb-3 upcoming-tasks card-white">
    <div class="d-flex mb-3 align-items-center">
      <h4>Upcoming Tasks
        <select data-filter-target="dropdown" data-action="change->filter#filterTasks">
          <option value="week">in the next week</option>
          <option value="two_weeks">in the next two weeks</option>
          <option value="month">in the next month</option>
        </select>
      </h4>
    </div>
    <div class="container custom-container">
      <ul data-filter-target="list">
        <%= render @deliverables %>
      </ul>
    </div>
  </div>
  <div class="border p-4 projects card-white">
    <h2>Projects</h2>

      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <p class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" role="tab" aria-controls="nav-home" aria-selected="true" data-action="click->filter#filterProjects">Ongoing</p>

        <p class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" role="tab" aria-controls="nav-profile" aria-selected="false"data-action="click->filter#filterProjects">Pending</p>

        <p class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" role="tab" aria-controls="nav-contact" aria-selected="false" data-action="click->filter#filterProjects">Saved</p>

        <p class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" role="tab" aria-controls="nav-contact" aria-selected="false" data-action="click->filter#filterProjects">Completed</p>

        <p class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" role="tab" aria-controls="nav-contact" aria-selected="false" data-action="click->filter#filterProjects">All</p>
      </div>

    <div class="container projects-container">
      <div class="custom-row" data-filter-target="projects">
        <%= render @projects %>


    <div data-controller="search-projects">
      <%= form_with url: projects_path, method: :get, html: { class:'mb-4', data: { search_projects_target: 'form' } } do |f| %>
        <%= f.text_field :query,
                          class: "form-control",
                          placeholder: 'Search for a project',
                          value: params[:query],
                          data: {
                            search_projects_target: 'input',
                            action: 'keyup->search-projects#update'
                          } %>
      <% end %>

      <div class="container custom-container">
        <ul class="custom-row" data-search-projects-target="list">
          <%= render @projects %>
        </ul>
      </div>
    </div>

  </div>
</div>
