<div class="h-100 py-4 w-100" data-controller="filter">
  <div class="border p-2 mb-3 upcoming-tasks card-white">
    <div class="d-flex align-items-center">
      <div class="header">Upcoming Tasks
        <select data-filter-target="dropdown" data-action="change->filter#filterTasks">
          <option value="week">in the next week</option>
          <option value="two_weeks">in the next two weeks</option>
          <option value="month">in the next month</option>
        </select>
      </div>
    </div>
    <div class="container custom-container custom-list section">
      <ul data-filter-target="deliverables">
        <%#= render @deliverables, card_clickable: true %>
        <%# <% raise %>
        <% @deliverables.each do |deliverable| %>
          <%= render "deliverables/deliverable", deliverable: deliverable, has_link: true, card_path: "/deliverables/#{deliverable.id}", edit_btn: false %>
        <% end %>
        <%#= render @deliverables, card_path: "/deliverables/#{@deliverables.ids}" %>
      </ul>
    </div>
  </div>

  <div class="card-frosted">
    <div class="border p-4 projects card-white d-flex justify-content-between">
      <div>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#ongoing" role="tab" aria-controls="home" aria-selected="true">Ongoing</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#pending" role="tab" aria-controls="profile" aria-selected="false">Pending</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#completed" role="tab" aria-controls="contact" aria-selected="false">Completed</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="saved-tab" data-toggle="tab" href="#saved" role="tab" aria-controls="contact" aria-selected="false">Saved</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="all-tab" data-toggle="tab" href="#all" role="tab" aria-controls="contact" aria-selected="false">All</a>
          </li>
        </ul>
      </div>
      <div>
        <%= form_with url: projects_path, method: :get, html: { data: { filter_target: 'form' } } do |f| %>
          <%= f.text_field :query,
                            class: "form-control",
                            placeholder: 'Search for a project',
                            value: params[:query],
                            data: {
                              filter_target: 'input',
                              action: 'keyup->filter#filterProjects'
                            } %>
        <% end %>
      </div>

    </div>

    <div class="tab-content" id="myTabContent" data-filter-target="projects">
      <div class="tab-pane fade show active" id="ongoing" role="tabpanel" aria-labelledby="home-tab">
        <div class="row">
          <%= render @ongoing %>
        </div>
      </div>
      <div class="tab-pane fade" id="pending" role="tabpanel" aria-labelledby="profile-tab">
        <%= render @pending %>
      </div>
      <div class="tab-pane fade" id="completed" role="tabpanel" aria-labelledby="contact-tab">
        <%= render @completed %>
      </div>
      <div class="tab-pane fade" id="saved" role="tabpanel" aria-labelledby="contact-tab">
        <%= render @saved %>
      </div>
      <div class="tab-pane fade" id="all" role="tabpanel" aria-labelledby="contact-tab">
        <%= render @all %>
      </div>
    </div>
  </div>

</div>
