<div>
  <p class="header-lg my-2 text-right text-secondary mr-1"><%=Time.now.strftime("%e %b %Y")%>, <%= Time.now.strftime("%I:%M %p") %></p>
</div>
<div class="upcoming-tasks card-white" data-controller="filter">
    <div class="header-lg">Upcoming Tasks
      <select data-filter-target="dropdown" data-action="change->filter#filterTasks" class="dropdown-custom">
          <option value="week">in the next week</option></button>
          <option value="two_weeks">in the next two weeks</option>
          <option value="month">in the next month</option>
      </select>
    </div>

    <div class="action-panel section">
      <ul class="action-bar-categories">
        <li>Due Date</li>
        <li>Brand</li>
        <li>Campaign</li>
        <li>Deliverable</li>
        <li>Tags</li>
      </ul>
      <ul data-filter-target="deliverables" class="action-bar-list">
        <% if @deliverables.empty? %>
          <p class="text-center header-lg">nothing due this week. ☀(▀U ▀-͠) </p>
        <% else %>
          <%= render partial: "deliverables/cards/dashboard", collection: @deliverables, as: :deliverable %>
        <% end %>
      </ul>
    </div>
</div>

<div class="card-frosted my-3 p-4 projects" data-controller="filter">
  <div class="d-flex justify-content-between align-items-center mb-4" data-filter-target="status">
    <ul class="filter-bar nav nav-tabs" id="myTab" role="tablist">
      <li role="presentation">
        <a class="nav-link active" data-toggle="tab" data-action="click->filter#filterProjects" value="ongoing">Ongoing</a>
      </li>
      <li  role="presentation">
        <a class="nav-link" data-toggle="tab" data-action="click->filter#filterProjects" value="pending">Pending</a>
      </li>
      <li  role="presentation">
        <a class="nav-link" data-toggle="tab" data-action="click->filter#filterProjects" value="completed">Completed</a>
      </li>
      <li  role="presentation">
        <a class="nav-link" data-toggle="tab" data-action="click->filter#filterProjects" value="saved">Saved</a>
      </li>
      <li  role="presentation">
        <a class="nav-link" data-toggle="tab" data-action="click->filter#filterProjects" value="all">All</a>
      </li>
    </ul>
    <div>
      <%= form_with url: projects_path, method: :get, html: { id: "search-tab", href: "#search", data: { filter_target: 'form', action: "submit->filter#prevent", toggle: 'tab'} } do |f| %>
        <%= f.text_field :query,
                          class: "form-control custom-search",
                          placeholder: 'Search for a project',
                          value: params[:query],
                          data: {
                            filter_target: 'input',
                            action: 'keyup->filter#searchProjects'
                          } %>
      <% end %>
    </div>
  </div>

  <div class="row projects-results" data-filter-target="projects">
    <%= render @ongoing %>
  </div>
</div>
