<% if @project.status != 'saved' %>
  <% active = deliverable.id == params[:id].to_i ? "deliverable-active" : "" %>

  <%= link_to deliverable_path(deliverable), class: "deliverable-edit p-1 m-1 card-animation #{active}", data: {controller: "toggle", toggle_target: "card", action: "click->toggle#highlight"} do %>
    <div class="deliverable-edit-date">
      <div><%= deliverable.due_date.strftime("%b") %></div>
      <div><%= deliverable.due_date.strftime("%e") %></div>
      <div><%= deliverable.due_date.strftime("%Y") %></div>
    </div>

    <div class="card-deliverable-content">
      <div class="card-custom-title">
        <%= deliverable.deliverable_type.length > 35 ? deliverable.deliverable_type[0..35] + "..." : deliverable.deliverable_type %>
      </div>
    </div>
  <% end %>

<% else %>
  <div class="deliverable-edit p-1 m-1" data-controller="edit-deliverable" data-edit-deliverable-target="details">
    <div class="deliverable-edit-date">
      <div><%= deliverable.due_date.strftime("%b") %></div>
      <div><%= deliverable.due_date.strftime("%e") %></div>
      <div><%= deliverable.due_date.strftime("%Y") %></div>
    </div>

    <div class="card-deliverable-content">
      <div class="card-custom-title">
        <%= deliverable.deliverable_type.length > 35 ? deliverable.deliverable_type[0..35] + "..." : deliverable.deliverable_type %>
      </div>
      <div>
        <%= deliverable.description.length > 35 ? deliverable.description[0..35] + "..." : deliverable.description %>
      </div>
      <div>
        <%= render 'deliverables/tag', deliverable: deliverable %>
      </div>
    </div>
      <div class="format-link">
        <a data-href="/deliverables/<%= deliverable.id %>/edit" data-action="click->edit-deliverable#edit" class="btn custom-edit-btn">Edit</a>
        <a data-href="/deliverables/<%= deliverable.id %>" data-edit-deliverable-target="delete" data-action="click->edit-deliverable#delete" class="deletelBtn">Delete</a>
      </div>

    <div class="slideOutTab" data-edit-deliverable-target="tab">
      <%= render partial: 'deliverables/update', locals: {deliverable: deliverable}%>
    </div>
  </div>
<% end %>
