<% if @project.status != 'saved' %>
  <% active = deliverable.id == params[:id].to_i ? "deliverable-active" : "" %>

  <%= link_to deliverable_path(deliverable), class: "deliverable-edit p-1 m-1 card-animation #{active}", data: {controller: "toggle", toggle_target: "card", action: "click->toggle#highlight"} do %>
    <div class="deliverable-edit-date">
      <div><%= deliverable.due_date.strftime("%b") %></div>
      <div><%= deliverable.due_date.strftime("%e") %></div>
      <div><%= deliverable.due_date.strftime("%Y") %></div>
    </div>

    <div class="card-deliverable-content truncate">
      <div class="card-custom-title truncate"><%= deliverable.deliverable_type %></div>
      <div>
        <% deliverable.tag_list.each do |tag|%>
        <p class="badge badge-primary custom-badge"><%= tag %></p>
        <br>
        <% end %>
      </div>
    </div>
  <% end %>

<% else %>
  <div class="deliverable-edit p-1 m-1" data-controller="edit-deliverable" data-edit-deliverable-target="details">
    <div class="deliverable-edit-date">
      <div><%= deliverable.due_date.strftime("%b") %></div>
      <div><%= deliverable.due_date.strftime("%e") %></div>
      <div><%= deliverable.due_date.strftime("%Y") %></div>
    </div>

    <div class="card-deliverable-content">
      <div class="card-custom-title truncate"><%= deliverable.deliverable_type %></div>
      <div class="truncate">
        <%= deliverable.description %>
      </div>
      <div>
        <% deliverable.tag_list.each do |tag|%>
          <span class="badge badge-primary custom-badge"><%= tag %></span>
        <% end %>
      </div>
    </div>
    <div class="format-link">
      <a data-href="/deliverables/<%= deliverable.id %>/edit" data-action="click->edit-deliverable#edit" class="btn custom-edit-btn">Edit</a>
      <a data-href="/deliverables/<%= deliverable.id %>" data-edit-deliverable-target="delete" data-action="click->edit-deliverable#delete" class="deletelBtn">Delete</a>
    </div>

    <div class="slideOutTab" data-edit-deliverable-target="tab">
      <%= render partial: 'deliverables/update', locals: {deliverable: deliverable}%>
    </div>
  </div>
<% end %>
