<%= simple_form_for @project, action:"projects/#{@project.id}", method: :post, data: {controller: "update-project", update_project_target: "form"}, html: { class: "card-white custom-form-card" } do |f| %>
    <div class="new-project-form">
      <div>
        <%= f.input :name, name: "project_name", label:false,  placeholder: "Project name",
        input_html: { class: 'bordeless-input',
          data: {
            update_project_target: "projectName",
            action: "keyup->update-project#updateProject"
            }}%>
        </div>
      <%= f.input :description, name: "description", label:false, placeholder: "Project description",
      input_html: { class: 'bordeless-input',
        data: {
          update_project_target: "description",
          action: "keyup->update-project#updateProject"
          }}%>
      <div class="form-group">
        <label for="project_end">Project end:</label>
        <input type="date" id="project_end" name="project_end" class="form-control" value="<%=Date.today%>" min="<%=Date.today%>" max="<%=Date.today.next_year%>" data-update-project-target="projectEnd" data-action="change->update-project#updateProject">
      </div>
    </div>
    <%= f.submit "Create Project", class: "submit-form-btn" %>
  <% end %>
