<div class="col-sm-6 col-md-4 mb-4 card-animation" data-controller="delete-project">
  <a href="<%=project_path(project)%>" class="btn-linkless" >
    <div class="card-white h-100 mb-4">
      <div class="card-custom-body">
        <div class="card-custom-title">
          <%= project.name %>
        </div>
        <div class="d-flex align-items-center mb-3 mt-3">
          <img class="avatar-bordered" src="<%= project.user.profile_pic %>">
          <div class="card-custom-subtitle">
            <%= project.brand %>
          </div>
        </div>
        <div class="card-custom-text"><%= project.description %></div>
        <ul>
          <% project.deliverables.each do |d| %>
            <% if d.deliverable_type.downcase.include?("instagram")  || d.deliverable_type.downcase.include?("ig") %>
              <li><i class="fab fa-instagram"></i><%= d.deliverable_type %></li>
            <% elsif d.deliverable_type.downcase.include?("tik tok") || d.deliverable_type.downcase.include?("tiktok") || d.deliverable_type.downcase.include?("tt") %>
              <li><i class="fab fa-tiktok"></i><%= d.deliverable_type %></li>
            <% elsif d.deliverable_type.downcase.include?("facebook") || d.deliverable_type.downcase.include?("fb") %>
              <li><i class="fab fa-facebook-f"></i><%= d.deliverable_type %></li>
            <% else %>
              <li><i class="fas fa-hashtag"></i><%= d.deliverable_type %></li>
            <% end %>
          <% end %>
        </ul>
        <div>
          <%if project.status=="saved"%>
            <p value="<%=project_path(project)%>" class="btn btn-primary"data-project-target="delete" data-action="click->delete-project#deleteProject">Delete this</p>
          <% end %>
        </div>
      </div>
    </div>
  </a>
</div>
