<div class="col-sm-6 col-md-4 mb-3">
  <a href="<%=project_path(project)%>" class="btn-linkless" >
    <div class="card-white h-100">
      <div class="card-custom-body">
        <div class="card-custom-title"><%= project.name %></div>
        <div class="card-custom-subtitle"><%= project.brand %></div>
        <div class="card-custom-text"><%= project.description %></div>
        <ul>
          <% project.deliverables.each do |d| %>
            <li><%= d.deliverable_type %></li>
            <div>
              <% d.tag_list.each do |tag|%>
                <span class="badge badge-primary custom-badge"><%= tag %></span>
              <% end %>
            </div>
          <% end %>
        </ul>
      </div>
    </div>
  </a>
</div>
