<div class="col-sm-6 col-md-4 mb-2 card-equal-size">
  <a href="<%=project_path(project)%>" class="btn-linkless" >
    <div class="card-white">
      <div class="card-custom-body">
        <div class="card-custom-title"><%= project.name %></div>
        <div class="card-custom-subtitle"><%= project.brand %></div>
        <div class="card-custom-text"><%= project.description %></div>
        <ul>
          <% project.deliverables.each do |d| %>
            <li><%= d.deliverable_type %></li>
            <p><%= (d.tag_list.split).join(", ") %></p>
          <% end %>
        </ul>
      </div>
    </div>
  </a>
</div>
