<div class="custom-form-layout">
  <div>
    <% if @project.status == "saved" %>
      <%= render 'form' %>
    <% else %>
    <h1>Edit your Existing Project</h1>
    <div class="card-white">
      <div class="review-card-title"><%= @project.name %></div>
      <div class="review-card-description"><%= @project.description %></div>
    </div>
    <% end %>
</div>

  <div class="deliverable-form-show card-frosted my-3 p-3" data-controller="insert-deliverables">
    <div>
      <% if @project.deliverables.empty? %>
        <div data-insert-deliverables-target="message">Add your first deliverable here!</div>
      <% end %>

      <div class="custom-list mr-3">
        <ul data-insert-deliverables-target="list" class="custom-list">
          <%= render partial: 'deliverables/cards/project_details', collection: @deliverables, as: :deliverable %>
        </ul>
      </div>
    </div>
    <div data-controller="edit-deliverable">
      <div class="deliverable-form-new card-white p-3">
        <%= render 'deliverables/new' %>
      </div>
    </div>
  </div>
</div>
