<nav aria-label="breadcrumb">
  <ol class="breadcrumb breadcrumb-custom">
    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
    <li class="breadcrumb-item active" aria-current="page">Edit Project</li>
  </ol>
</nav>

<% if @project.status=="saved" %>
  <%= render 'form' %>
<% else %>
  <div class="card-white py-3 px-3 mb-4 ">
    <div class="review-card-title header-lg">
      <%= @project.name %>
    </div>
    <div class="review-card-description header-md">
      <%= @project.description %>
    </div>
  </div>
<% end %>


<div class="card-frosted my-3 p-3" data-controller="insert-deliverables">
  <ul class="custom-list" data-insert-deliverables-target="list" id="deliverable-list">
      <%= render partial: 'deliverables/cards/project_details', collection: @deliverables, as: :deliverable%>
      <button class="card-frosted card-white-and-date mx-auto" data-toggle="modal" data-target="#newDeliverableModal">
        + Add new deliverable
      </button>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="newDeliverableModal" tabindex="-1" aria-labelledby="newDeliverableModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newDeliverableModalLabel">Describe your deliverable</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <%= render  "deliverables/new" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sync-dark-grey" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
