<div class="custom-form-layout">
  <div>
    <% if @project.status == "saved" %>
      <%= render 'form' %>
    <% else %>
    <h1>Edit your Existing Project</h1>
    <div class="card-white">
      <div class="review-card-title"><%= @project.name %></div>
      <div class="review-card-description"><%= @project.description %></div>
    </div>
    <% end %>
</div>

  <div class="deliverable-form-show card-frosted my-3" data-controller="insert-deliverables">
    <% if @project.deliverables.empty? %>
      <p data-insert-deliverables-target="message">Add your first deliverable here!</p>
    <% end %>

    <div class="custom-list mr-3">
      <ul data-insert-deliverables-target="list">
        <%= render partial: 'deliverables/cards/project_details', card_path: "", collection: @deliverables, as: :deliverable %>
      </ul>
    </div>
    <div class="">
      <%= render 'deliverables/new' %>
    </div>
  </div>
</div>
