<div class="custom-form-layout">
  <div class="container pt-4">


    <% if @project.status == "saved" %>
      <%= render 'form' %>
    <% else %>
    <h1>Edit your Existing Project</h1>
    <div class="card-white">
      <div class="review-card-title"><%= @project.name %></div>
      <div class="review-card-description"><%= @project.description %></div>
    </div>
    <% end %>
</div>

  <div class="container" data-controller="insert-deliverables">
    <div class="deliverable-form-show card-frosted">
    <% if @project.deliverables.empty? %>
      <p data-insert-deliverables-target="message">Add your first deliverable here!</p>
    <% end %>

      <div class="custom-list mr-3">
        <ul data-insert-deliverables-target="list">

          <%= render @deliverables, card_path: "", has_link: false, edit_btn: true %>
        </ul>
      </div>
      <div class="card-white">
        <%= render 'deliverables/new' %>
      </div>

    </div>


  </div>
</div>
