<p>New project: enter project details</p>
<div data-controller="insert-deliverables">
<ul data-insert-deliverables-target="list">
</ul>
  <%= simple_form_for @project do |f| %>
    <%= f.input :name, placeholder: "project name" %>
    <%= f.input :description, placeholder: "project name" %>
    <%= f.input :project_end, placeholder: "end date" %>
    <%= f.submit %>
  <% end %>
  <%= render "deliverables/new" %>
</div>
