<div class="container p-4">
  <div class="d-flex justify-content-between align-items-center">
  <% if @project.status == 'ongoing' %>
    <h1>Existing Project</h1>
  <% else %>
    <h1>Review Project</h1>
  <% end %>
    <%= link_to "Edit Project", edit_project_path(@project) %>
  </div>
  <div class="card-white">
    <div class="review-card-title"><%= @project.name %></div>
    <div class="review-card-description"><%= @project.description %></div>
  </div>
  <div class="card-frosted">
    <%= render @deliverables %>
  </div>
</div>

<div data-controller="email-popup">
  <button class="custom-popup" data-email-popup-target="button" data-action="click->email-popup#toggle">Send project to <%= @project.brand %></button>

  <form action="/project_confirmations/create" method="POST" data-email-popup-target="email" class="card custom-popup d-none" style="width: 20rem;">
    <div class="form-header-details">
      <div>Send project to <%= @project.brand %></div>
      <div class="close-btn" data-action="click->email-popup#toggle">X</div>
    </div>
    <div class="card-body custom-card-body">
      <input type="text" name="client_email" placeholder="Email" class="custom-input-field">
      <input type="text" name="email_subject" placeholder="Subject" class="custom-input-field">
      <input type="text" name="email_body" class="custom-input-field">
      <input type="hidden" name="project" value=<%= @project.id %>>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <button type="submit" class="btn btn-primary btn-sm btn-trigger">Confirm</button>
    </div>
  </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.all.min.js"></script>
<script>
  document.querySelector(".btn-trigger").addEventListener('click', function() {
    Swal.fire("Yay! Your project is sent successfully");
  });
</script>
