<div data-controller="email-popup">
  <div>
    <div class="d-flex justify-content-between align-items-center">
    <% if @project.status == 'ongoing' %>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-custom">
          <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
          <li class="breadcrumb-item active" aria-current="page">Existing Project</li>
        </ol>
      </nav>
    <% else %>
      <nav aria-label="breadcrumb">
      <ol class="breadcrumb breadcrumb-custom">
        <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="/projects/<%= @project.id %>/edit">Edit Project</a></li>
        <li class="breadcrumb-item active" aria-current="page">Review Project</li>
      </ol>
    </nav>
    <% end %>
    </div>

    <div class="card-white py-3 px-3 mb-4 d-flex align-items-center justify-content-between">
      <div>
        <div class="review-card-title"><%= @project.name %></div>
        <div class="review-card-description"><%= @project.description %></div>
      </div>
      <div class="btn-group" role="group" aria-label="Basic outlined example">
        <a class="btn btn-outline-primary" href="<%=edit_project_path(@project)%>">Edit Project</a>
        <button type="button" class="btn btn-outline-primary" data-action="click->email-popup#show">Send Project</button>
      </div>
    </div>

    <div class="card-frosted d-flex flex-column p-2">
      <div class="review-card-description pt-3 pl-3">Deliverables for <%= @project.name %></div>
      <%= render partial: "deliverables/cards/review", collection: @deliverables_by_date_hash, as: :deliverable %>
    </div>
  </div>

  <% if @project.status == "saved" %>
    <button class="custom-popup btn-primary" data-email-popup-target="button" data-action="click->email-popup#toggle">Send project to <%= @project.brand %></button>
    <form action="/project_confirmations/create" method="POST" data-email-popup-target="email" class="card custom-popup d-none" style="width: 20rem;">
      <div class="form-header-details">
        <div>Send project to <%= @project.brand %></div>
        <div class="close-btn" data-action="click->email-popup#toggle">X</div>
      </div>
      <div class="card-body custom-card-body">
        <input type="text" name="client_email" placeholder="Email" class="custom-input-field">
        <input type="text" name="email_subject" placeholder="Subject" class="custom-input-field">
        <input type="textarea" name="email_body" class="custom-input-field custom-email-body">
        <input type="hidden" name="project" value=<%= @project.id %>>
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <button type="submit" class="btn btn-primary btn-sm btn-trigger">Confirm</button>
      </div>
    </form>
  <% end %>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.all.min.js"></script>
<script>
  document.querySelector(".btn-trigger").addEventListener('click', function() {
    Swal.fire("Yay! Your project is sent successfully");
  });
</script>
