<div data-controller="email-popup">
  <div>
    <div class="d-flex justify-content-between align-items-center">
    <% if @project.status == 'ongoing' %>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-custom">
          <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
          <li class="breadcrumb-item active" aria-current="page">Review Project: <%= @project.name %></li>
        </ol>
      </nav>
    <% else %>
      <nav aria-label="breadcrumb">
      <ol class="breadcrumb breadcrumb-custom">
        <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="/projects/<%= @project.id %>/edit">Edit Project</a></li>
        <li class="breadcrumb-item active" aria-current="page">Review Project</li>
      </ol>
    </nav>
    <% end %>
    </div>

    <div class="project-overview card-white py-3 px-3 mb-4 d-flex align-items-center justify-content-between">
      <div>
        <div class="review-card-title header-lg"><%= @project.name %></div>
        <div class="review-card-description header-md"><%= @project.description %></div>
        <div class=" header-sm end-date">Campaign ends on <%= @project.project_end.strftime("%e %b") %></div>
      </div>
      <div class="edit-send-group">
        <a class="btn btn-sync-light-grey btn-round" href="<%=edit_project_path(@project)%>">Edit Project</a>
        <button type="button" class="submit-form-btn" data-toggle="modal" data-target="#popupModal">
          Share project
        </button>
      </div>
    </div>

    <div class="card-frosted d-flex flex-column p-2">
      <div class="review-card-description header-md pt-3 pl-3"><%= pluralize @deliverables.length, "deliverable" %> in this project</div>
      <%= render partial: "deliverables/cards/review", collection: @deliverables_by_date_hash, as: :deliverable %>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="popupModal" tabindex="-1" role="dialog" aria-labelledby="popupModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Share with people and groups</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render 'share' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.all.min.js"></script>
<script>
  document.querySelector(".btn-trigger").addEventListener('click', function() {
    Swal.fire("Yay! Your project is sent successfully");
  });
</script>
