<a href="<%=draft_path(draft)%>" class="text-decoration-none">
  <div class="deliv-drafts d-flex align-items-center card-flat my-1">
    <div class="submitted-date">
      submitted <br>
      <%= draft.created_at.strftime("%b %e, %a") %>
    </div>
    <div class="summary">
      <div class="description pr-1">
        <p class="text-left"><%= draft.description.length > 85 ? draft.description[0..85] + "..." : draft.description %></p>
      </div>
      <div class="status">
        <%
        btn_color = case draft.status
          when "pending"
          "btn-sync-info"
          when "approved"
          "btn-sync-success"
          when "rejected"
          "btn-sync-danger"
          end
            %>
        <p class="btn <%=btn_color%> view-draft-btn"><%= draft.status %></p>
      </div>
    </div>
  </div>
</a>
