<div class="card-frosted draft-panel" data-controller="toggle">
  <div class="d-flex justify-content-between align-items-center">
    <div class="custom-header">
      <h1><%= @draft.deliverable.deliverable_type %></h1>
      <h3><%= @draft.deliverable.description %></h3>
    </div>
      <% if (@draft.user != current_user) && (@draft.status!= "approved")%><a class="comment-btn" href="<%=draft_approve_path(@draft)%>">Approve this draft</a> <% end %>
    <div>
    </div>
  </div>
  <div class="d-flex align-items-start">
    <div class="preview">
      <% if @draft.attachment.content_type == "application/pdf" %>
        <%= link_to "Download PDF", @draft.attachment.url, target: :blank %>
      <% else %>
        <img src="<%= @draft.attachment.url %>" alt="image" width='300' height='300'>
      <% end %>
    </div>
    <div class="comments-list">
      <div class="new-comment">
        <a class="comment-btn" data-toggle-target="button" data-action="click->toggle#newComment">Add new comment</a>
        <div data-toggle-target="commentForm" class="d-none">
          <%= render 'comments/new'%>
        </div>
      </div>
      <%= render @comments %>
    </div>
  </div>

</div>
