<div class="card-frosted " data-controller="toggle">
  <div class="d-flex justify-content-between align-items-center">
    <div class="custom-header">
      <h1><%= @draft.deliverable.deliverable_type %></h1>
      <h3><%= @draft.deliverable.description %></h3>
    </div>
    <div>
      <a data-action="click->toggle#newComment"><i class="fas fa-comment-alt"></i></a>
    </div>
  </div>
  <div class="d-flex">
    <div class="preview">
      <% if @draft.attachment.content_type == "application/pdf" %>
        <%= link_to "Download PDF", @draft.attachment.url, target: :blank %>
      <% else %>
        <img src="<%= @draft.attachment.url %>" alt="image" width='300' height='300'>
      <% end %>
    </div>
    <div>
      <%= render @comments %>
    </div>
  </div>
  <div data-toggle-targets="commentForm">
    <%= render 'comments/new' %>
  </div>
</div>
