<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-custom">
      <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
      <li class="breadcrumb-item"><a href="/projects/<%= @draft.deliverable.project.id %>">Existing Project</a></li>
      <li class="breadcrumb-item"><a href="/deliverables/<%= @draft.deliverable.id%>">Deliverables</a></li>
      <li class="breadcrumb-item active" aria-current="page">Draft</li>
    </ol>
  </nav>

<%# heading %>
  <div class="card-white py-3 pl-3 mb-4 d-flex align-items-center justify-content-between">
    <div>
      <div class="review-card-title"><%=@draft.deliverable.project.brand%>: <%= @draft.deliverable.project.name %></div>
      <div class="review-card-description"><%= @draft.deliverable.project.description %></div>
    </div>
  </div>

<%# submitted draft %>
  <div class="card-frosted draft-panel" data-controller="toggle">
    <div class="d-flex justify-content-between align-items-center">
      <div class="custom-header pb-3 pl-2">
        <div class="review-card-title"><%= @draft.deliverable.deliverable_type %></div>
        <div class="review-card-description"><%= @draft.deliverable.description %></div>
      </div>
      <div class='pr-4'>
        <p>Deliverable due in  <%= pluralize (@draft.deliverable.due_date - Date.today).to_i,"day"%></p>
      </div>

    </div>
    <div class="d-flex align-items-start px-3">
      <div class="preview d-flex align-items-center justify justify-content-center">
        <% @draft.attachments.each do |attachment| %>
          <% if attachment.content_type == "application/pdf" %>
            <%= link_to "Download PDF", @draft.attachment.url, target: :blank %>
        <% else %>
          <img src="<%= attachment.url %>" alt="image" width='250' height='300' class="flex-grow-1">
        <% end %>
      <% end %>
      </div>
      <div class="comments-list">
        <div class="new-comment">
          <a class="comment-btn" data-toggle-target="button" data-action="click->toggle#newComment">Add new comment</a>
          <div data-toggle-target="commentForm" class="d-none">
            <%= render 'comments/new'%>
          </div>
        </div>
        <%= render @comments %>
      </div>
    </div>
  </div>
</div>
