<!DOCTYPE html>
<html>
  <head>
    <title>Sync</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.min.css'>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Shippori+Antique&display=swap');
    </style>
  </head>

  <body>
  <div class="custom-layout">
    <div class="row">
      <div class="col-3 nav-stick">
        <%= render 'shared/navbar' %>
      </div>
      <div class="col-9">
        <%= yield %>
      </div>
    </div>
  </div>
    <%= render 'shared/flashes' %>

  </body>
</html>
